{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {%block acceuil %} {% endblock %}
    {% block  nav %} {% endblock %}
{%block login %}{% endblock  %} 
{%block inscription %}{% endblock %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

    <div class="container">
        <a href="{{ path('users_users_Acceuil') }}" style=" width: 10%;position: relative;left: -1%;margin-top: 2%;" class="btn btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="Aceuil" >Aceuil</a>
    </div>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
{% endblock  %} 